<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>LOG4J_CONFIG_LOCATION</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHENTICATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authentication.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHORIZATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authorization.properties</param-value>
    </context-param>
<!--    <context-param>
        <param-name>AUTHORIZATION_USER_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authorizationUser.properties</param-value>
    </context-param>-->
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/siteMap.properties</param-value>
    </context-param>
    <context-param>
        <param-name>ACCESS_CONTROL_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/accessControl.properties</param-value>
    </context-param>
    <filter>
        <filter-name>ExceptionFilter</filter-name>
        <filter-class>chiennq.filter.ExceptionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoutingFilter</filter-name>
        <filter-class>chiennq.filter.RoutingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>chiennq.filter.AccessControlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>chiennq.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>chiennq.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>chiennq.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoutingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>chiennq.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>chiennq.controller.auth.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <servlet-class>chiennq.controller.auth.AuthAutoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSearchLastNameServlet</servlet-name>
        <servlet-class>chiennq.controller.account.AccountSearchLastNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateAccountServlet</servlet-name>
        <servlet-class>chiennq.controller.account.AccountUpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeleteAccountServlet</servlet-name>
        <servlet-class>chiennq.controller.account.AccountDeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>chiennq.controller.auth.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>chiennq.controller.shop.ShoppingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddItemServlet</servlet-name>
        <servlet-class>chiennq.controller.cart.CartAddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <servlet-class>chiennq.controller.cart.CartRemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <servlet-class>chiennq.controller.cart.CartCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>chiennq.controller.receipt.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>chiennq.controller.auth.AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthAutoLoginServlet</servlet-name>
        <url-pattern>/AuthAutoLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSearchLastNameServlet</servlet-name>
        <url-pattern>/AccountSearchLastNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateAccountServlet</servlet-name>
        <url-pattern>/AccountUpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeleteAccountServlet</servlet-name>
        <url-pattern>/AccountDeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/ShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddItemServlet</servlet-name>
        <url-pattern>/CartAddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemoveItemServlet</servlet-name>
        <url-pattern>/CartRemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartCheckoutServlet</servlet-name>
        <url-pattern>/CartCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <url-pattern>/AuthRegisterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/notFoundErrorPage.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/internalServerErrorPage.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/forbiddenErrorPage.html</location>
    </error-page>
</web-app>
